# Project Environment Configuration Example
# Set up these files in their respective folders: client/.env and server/.env

# SERVER CONFIG (server/.env)
MONGODB_URI=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# CLIENT CONFIG (client/.env)
VITE_API_URL=http://localhost:5000
